body {

    font-family: Arial;
    color: #111111;
    padding : 50px;
    margin:0px;
}
pre { background-color: #eee; font-size: 12px; padding:10px; }

.intro {
    padding : 20px;
    background-color:#eee;
    border-radius:25px;
    font-size: 20px;
    overflow:hidden;
}

.gae-logo {
    float:left;
    height:150px;
    padding-right: 40px;
}